@model IEnumerable<Conexus.Common.Entities.ProductosCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos del Cliente</h1>

<p>
    <a asp-action="Create" asp-route-ClienteId="@ViewBag.ClienteId">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.producto.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.producto.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Eliminar", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
